#menu-footer-1 {
  display: block;
  text-align: right;
}

#menu-footer-1 a {
  color: $fm-white;
  padding: 0.35rem 0;
  text-transform: uppercase;
  display: block;
  text-decoration: underline;
  font-size: $fs-xs;
}

.footer-logo {
  max-width: 180px;
}

.header-footer-navigation {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 0);
}

#menu-footer.header-footer-inner li a {
  padding: 1.5rem 0.25rem;
  font-size: 0.85rem;
  color: $fm-white;
  text-transform: uppercase;
  text-decoration: underline;
}

#menu-footer.header-footer-inner li a:hover {
  color: $fm-orange;
}

#menu-footer.header-footer-inner {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-line hr {
  border-color: white;
}

@media (min-height: 568px) {
  .header-footer-navigation {
    display: block;
    bottom: 22%;
  }
}

@media (min-width: 568px) {
  #menu-footer.header-footer-inner li a {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  #menu-footer.header-footer-inner {
    display: flex;
  }
}

@media (min-width: 768px) {
  #menu-footer.header-footer-inner li a {
    padding: 1rem 3rem;
  }
}
