body {
  font-size: $fs-base;
}

p {
  font-size: $fs-base;
  font-family: "IBM Plex Sans", sans-serif;
}

h1 {
  font-size: $fs-5xxl;
  font-family: "IBM Plex Serif", serif;
}

h2 {
  font-size: $fs-4xxl;
  letter-spacing: 0.05em;
  font-family: "IBM Plex Serif", serif;
}

h3 {
  font-size: $fs-3xxl;
  font-family: "IBM Plex Sans", sans-serif;
}

h4 {
  font-size: $fs-2xxl;
  font-family: "IBM Plex Serif", serif;
}

h5 {
  font-size: $fs-xxl;
  font-family: "IBM Plex Sans", sans-serif;
}

h6 {
  font-size: $fs-xl;
  font-family: "IBM Plex Serif", serif;
}

a {
  color: $fm-black;
}

a:hover {
  color: $fm-green;
}

img {
  width: 100%;
}

.f-plex-serif {
  font-family: "IBM Plex Serif", serif;
}

.f-plex-sans {
  font-family: "IBM Plex Sans", sans-serif;
}

.f-plex-mono {
  font-family: "IBM Plex Mono", monospace;
}

.b-fm-green {
  background-color: $fm-green !important;
  color: $fm-white !important;
}

.b-fm-grey {
  background-color: $fm-grey !important;
}

.b-fm-white {
  background-color: $fm-white !important;
}

.b-fm-black {
  background-color: $fm-black !important;
  color: $fm-white !important;
}

.c-fm-green {
  color: $fm-green !important;
}

.c-fm-grey {
  color: $fm-grey !important;
}

.c-fm-white {
  color: $fm-white !important;
}

.c-fm-black {
  color: $fm-black !important;
}

.border-w {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid $fm-white;
}

.border-g {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid $fm-green;
}

.w-70,
.w-75 {
  width: 90%;
  padding: 0 5px;
  margin: 0 auto;
}

.w-80,
.w-85 {
  width: 93%;
  padding: 0 5px;
  margin: 0 auto;
}

.w-90,
.w-95 {
  width: 96%;
  padding: 0 5px;
  margin: 0 auto;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.align-c {
  text-align: center;
}

.align-l {
  text-align: left;
}

.align-r {
  text-align: right;
}

.dis-flex {
  display: block;
}

.mxy-auto {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

.hidden-mobile {
  display: none;
}

.link {
  font-family: "IBM Plex Mono", monospace;
  text-decoration: underline;
}

.btn {
  font-family: "IBM Plex Mono", monospace;
  padding: 0.65rem 1.75rem;
  border-radius: 1.35rem;
  text-transform: uppercase;
  width: 160px;
  background: $fm-green;
  color: $fm-white;
  border: 2px solid $fm-green;
  transition: all 0.5s ease-out;
  -moz-transition: all 0.6s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

.bt--white {
  background: $fm-white;
  color: $fm-green;
  border: 2px solid $fm-white;
}

.btn--outline {
  color: $fm-green;
  background: transparent;
  border: 2px solid $fm-green;
}

.btn--white-outline {
  color: $fm-white;
  background: transparent;
  border: 2px solid $fm-white;
}

.btn:hover {
  background: $fm-orange;
  border: 2px solid $fm-orange;
  color: white;
}

.main-page {
  margin-top: 8rem;
}

/* Home page */
.sec-home {
  margin-top: 11vh;
}

.sec-home h1 {
  font-size: $fs-6xxl;
}

#video-container {
  overflow: hidden;
  height: 100vh;
  position: relative;
  top: 0;
  margin-top: -25vh;
}

.hero-vid-container {
  width: 100%;
  height: 65vh;
  overflow: hidden;
}

.video-content {
  position: absolute;
  bottom: 10%;
  left: 2.5%;
  text-align: center;
}

.sec-banner {
  position: absolute;
  width: 100%;
  top: 0;
}

.fran-logo img {
  width: 100%;
}

/* Large Mobile 568px++ */
@media (min-width: 568px) {
  body {
    font-size: $fs-lg;
  }
}

/* Tablets 768px and more */
@media (min-width: 768px) {
  .w-70 {
    width: 70%;
  }

  .w-75 {
    width: 75%;
  }

  .w-80 {
    width: 80%;
  }

  .w-85 {
    width: 85%;
  }

  .w-90 {
    width: 90%;
  }

  .w-95 {
    width: 95%;
  }

  .dis-flex {
    display: -webkit-box !important; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box !important; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox !important; /* TWEENER - IE 10 */
    display: -webkit-flex !important; /* NEW - Chrome */
    display: flex !important; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }

  .flex-col-reverse {
    flex-direction: row-reverse;
  }

  .mxy-auto {
    margin: auto;
  }

  .hidden-mobile {
    display: initial;
  }

  .hidden-desktop {
    display: none;
  }

  .sec-banner {
    background: $fm-white;
  }

  .hero-vid-container {
    width: 110%;
    height: 90vh;
    overflow: hidden;
    margin-left: -2.5%;
  }

  .sec-home {
    height: 90vh;
    min-height: 400px;
    margin-top: 11vh;
  }

  #video-container {
    overflow: hidden;
    height: 130vh;
    position: relative;
    top: 0;
    margin-top: -20vh;
  }

  .sec-home h1 {
    font-size: $fs-7xxl;
  }
}
